<form ng-submit="$ctrl.addNewHero()">
  <h2>create new hero</h2>

  <div>
    {{$ctrl.name.first}}
    <label for="">first name</label>
    <input type="text" ng-model="$ctrl.name.first" required/>
  </div>

  <div>
    <label for="">last name</label>
    <input type="text" ng-model="$ctrl.name.last" required/>
  </div>
  
  <select ng-model="$ctrl.gender" required>
    <option value="">select a gender</option>
    <option value="male">male</option>
    <option value="female">female</option>
  </select>

  <div>
    <label for="">E-mail</label>
    <input type="email" ng-model="$ctrl.email" required/>
  </div>

  <div>
    <label for="">cell</label>
    <input type="tel" ng-model="$ctrl.cell">
  </div>

  <button type="submit" >create</button>
</form>