<form name="signInForm" ng-submit="$ctrl.signIn()">
  <h2>Sign in</h2>
  <small>take a look at our heroes by signing in</small>

  <div>
    <label for="">e-mail</label>
    <input type="email" ng-model="$ctrl.userCredentials.email" required/>
  </div>

  <div>
    <label for="">password</label>
    <input 
      type="password" 
      name="password" 
      input="password" 
      ng-model="$ctrl.userCredentials.password" 
      ng-pattern="/^([^A-Z]*[A-Z][^A-Z]*){2}.*$/"
      ng-minlength="5"
      required
    />
    <div ng-messages="signInForm.password.$error" style="color:red" role="alert">
      <div ng-message="minlength">Your password is too short</div>
      <div ng-message="pattern">Your password should have at least 2 capital letters</div>
    </div>
  </div>

  <button type="submit">Sign In</button>
</form>


