<section ng-if="$ctrl.hero">
  <p ng-if="!$ctrl.hero.photo">loading...</p>
  <img
    ng-src="{{$ctrl.hero.photo}}"
    ng-alt="{{$ctrl.hero.name.first}} {{$ctrl.hero.name.last}} picture"
  />

  <h2>{{$ctrl.hero.name.first}} {{$ctrl.hero.name.last}} details</h2>

  <ul>
    <li>
      <div>
        <h3>Contacts</h3>

        <ul>
          <li>phone number: {{$ctrl.hero.phoneNumber}}</li>
          <li>e-mail: {{$ctrl.hero.email}}</li>
        </ul>
      </div>
    </li>

    <li>
      <div>
        <h3>General info</h3>

        <ul>
          <li>gender: {{$ctrl.hero.gender}}</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
<section ng-if="!$ctrl.hero">
  <h2>Hero not found</h2>
  <p>
    ops! it looks like the hero you are looking for does not exists or it is
    unavailable
  </p>
  <button>
    <a href="#!/heroes"> go back to heroes page </a>
  </button>
</section>

<section>
  <hero-opportunity
    ng-if="$ctrl.hero.opportunities.length > 0"
    opportunities="$ctrl.hero.opportunities"
  >
  </hero-opportunity>
</section>
