<form name="signInForm" ng-submit="$ctrl.onSubmitSignInCredentials()">
  <h2>Sign in</h2>
  <small>take a look at our heroes by signing in</small>

  <div>
    <label for="">e-mail</label>
    <input 
      type="email" 
      name="email" 
      ng-model="$ctrl.inputs.email.value"
      ng-model-options="{ debounce: 400 }"
      ng-pattern = "$ctrl.inputs.email.pattern"
      ng-minlength="5" 
      ng-required="true" 
    />

    <div ng-messages="signInForm.email.$error" style="color: red" role="alert">
      <span ng-message="pattern">please enter a valid email</span>
    </div>
  </div>

  <div>
    <label for="">password</label>
    <input
      type="password"
      name="password"
      input="password"
      ng-model="$ctrl.inputs.password.value"
      ng-model-options="{ debounce: 400 }"
      ng-pattern="/^([^A-Z]*[A-Z][^A-Z]*){2}.*$/"
      ng-minlength="5"
      ng-required="true"
    />
    <div
      ng-messages="signInForm.password.$error"
      style="color: red"
      role="alert"
    >
      <div ng-message="minlength">Your password is too short</div>
      <div ng-message="pattern">
        Your password should have at least 2 capital letters
      </div>
    </div>
  </div>

  <button
    type="submit"
    name="submitSignInButton"
    ng-disabled="signInForm.$invalid || $ctrl.isSignInLoading"
  >
    Sign In
  </button>
</form>

<small
  >You are not a hero yet?
  <a href="#!/sign-up">turn into one right now!</a></small
>
